@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');


body {
    font-family: monospace;
    font-size: 20px;
}

body {
    justify-content: space-around;
    flex-flow: column;
    height: 200vh;


}

.AnimemainContainer{
    display: flex;
    flex-flow: column;


}
.container1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.container2 {
    border: coral solid 1px;
    display: flex;
    flex-flow: row wrap;
    background: url("../images/animeBackground.png") no-repeat;
    background-size: cover;
    align-items: center;
    height: 800px;
}

.button {
    background-color: midnightblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button3:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



.peace {
    background: url("../images/Anime-onepeace.png") no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;

}

.attack {
    background: url("../images/Anime-attack.png") no-repeat;
    background-size: contain;
    width: 300px;
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
}

.saga {
    background: url("../images/Anime-saga.png") no-repeat;
    background-size: contain;
    width: 300px;
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
}

.neverland {
    background: url("../images/anime-never.png") no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
}

.conan {
    background: url("../images/Anime-conan.jpg") no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;

}
.death{
    background: url("../images/Anime-death .png") no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
}

/* stat footer*/


.footerContainer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #e90126;
    padding: 1em;
    background-color: transparent;
    font-size:  0.8rem;
}

.navbar li {
    border: 2px solid #e90126;
}

.navbar li a {
    background-color: black;
    color: #e90126;
}

.titleLogo {
    text-shadow: -1px 0 #e90126, 0 1px #e90126, 1px 0 #e90126, 0 -1px #e90126;
}

@media (min-width: 1200px) {
    .titleLogo {
        margin: 0 0 0 4.5em;
        display: flex;
        flex-direction: column;
        text-shadow: -1px 0 #e90126, 0 1px #e90126, 1px 0 #e90126, 0 -1px #e90126;
        color: black;
        font-size: xxx-large;
        font-weight: bold;
        align-items: center;
        z-index: 1;
    }
    .navbar li {
        border: 2px solid #e90126;
    }
}

