body {
    background-color: #f3d66c;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconContainer {
    padding: 2em;
    background-color: rgba(246, 214, 60, 0.76);
    box-shadow: 4px 4px 15px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slides {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mySlides {
    margin: 1rem;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    opacity: 0.6;
}

.mySlides:hover {
    transform: scale(1.1);
    opacity: 1;
}
.modal {
    position: fixed;
    z-index: 2;
    top: 100px;
    display: none;
}

.modalContent {
    border-radius: 15px;
    margin: 1rem;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 199, 33, 0.91);
    box-shadow: 5px 5px 15px black;
    flex-direction: column;
    position: relative;
}

.closeIcon {
    position: absolute;
    font-size: 2rem;
    right: 0;
    top: 0;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #7c7c7c;
    color: antiquewhite;
    width: 3rem;
    height: 3rem;
    text-align: center;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
iframe {
    max-width: 100%;
    border-radius: 10px;
    display:none;
}

.information {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steamLink {
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.steamLink:hover {
    color: white;
}


#steamLogo {
    width: 2rem;
}

