main {
    margin:0;
    padding: 0;
}

.music_MainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url("../images/musicBackground.png") no-repeat;
    background-size: cover;
}

.music_item img {
    max-width: 100%;
    height: auto;
}

.music_class_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1em;
    max-width: 1600px;
}

.music_item {
    display: flex;
    margin: 0.75em;
    height: 17.5em;
    width: 17.5em;
    /*box-sizing: border-box;*/
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 8px 8px 8px black;
}
.music_item:hover {
    transform: scale(1.1);
}